body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 0 auto;
	max-width: 1200px;
}

.third-width {
	float: left;
	max-width: 33%;
}

.quarter-width {
	float: left;
	max-width: 25%
}

/***** NAVBAR *****/
header {
	position: fixed;
	top: 0;
	width: 1200px;
}

#home-button {
	background: url(../img/yellow-splotch-isolated.png) no-repeat 0px 2px;
	opacity: .7;
	padding: 40px 20px 40px 20px;
}

#home-button:hover {
	opacity: 1;
}

nav {
	float: right;
	padding: 50px 0 50px 0;
}

nav ul {
	background: #ffffff;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding-left: 30px;
}

nav ul li a {
	color: #000000;
	font-family: 'Special Elite', serif;
	font-size: 35px;
	text-decoration: none;
	text-transform: lowercase;
}

nav ul li a:hover {
	color: #4b5581;
}

/***** HOME *****/
#hero {
	background: url(../img/blue-splotch.png) no-repeat 260px;
	height: 700px;
}

/* name */
h1 {
	font-family: 'Homemade Apple', cursive;
	font-size: 60px;
	margin: 0 auto;
	padding: 200px 200px 0 200px;
	text-align: center;
	width: 400px;
}

/* title */
h3 {
	font-family: 'Special Elite', serif;
	font-size: 30pt;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	width: 400px;
}

/* down arrow */
h4 {
	font-family: 'Special Elite', serif;
	font-size: 100px;
	margin: 0 auto;
	padding-left: 100px;
	text-align: center;
	width: 20px;
	-webkit-transform: rotate(90deg);
}

h4 a{
	color: #000000;
	text-decoration: none;
}

h4 a:hover {
	color: #4b5581;
}

/***** WORK *****/
#work {
	height: 800px;
}

/***** ALL SECTION HEADINGS *****/
h2 {
	font-family: 'Homemade Apple', cursive;
	font-size: 60px;
	margin: 0 auto;
	padding: 75px 0 75px 0;
	text-align: center;
}

.project {
	padding: 25px;
}

#work a {
	color: #000000;
	text-align: center;
	text-decoration: none;
}

#work a:hover {
	color: #4b5581;
}

/***** ABOUT *****/
#about {
	height: 800px;
}

#headshot {
	float: left;
	margin: 0 40px 20px 170px;
}

#bio {
	line-height: 30px;
	margin: 0 150px 0 190px;
}

/***** CONTACT *****/
#contact {
	height: 700px;
}

#email {
	background: url(../img/send-splotch.png) no-repeat center;
	height: 150px;
	margin: 0 auto;
}

#email a {
	color: #000000;
	display: block;
	font-family: 'Special Elite', serif;
	font-size: 40px;
	margin: 0 auto;
	padding: 70px 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 600px;
}

#email a:hover {
	color: #4b5581;
}

#social-media {
	margin: 0 auto;
	width: 800px;
}

#social-media ul li {
	float: left;
	list-style-type: none;
	margin: 0 45px 0 45px;
	padding: 25px;
}

#social-media ul li:hover {
	background: url(../img/sm-focus-splotch.png) no-repeat center;
}

/***** FOOTER *****/
footer {
	border-top: 1px solid black;
	height: 200px;